.about-us {
  max-width: 1376px;
  display: flex;
  align-items: flex-end;
  margin-top: 80px;
}

.about-us__text1 {
  width: 640px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__title {
  height: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #777e90;
}

.about-us__info {
  width: 640px;
  height: 196px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.font-24 {
  font-size: 24px;
  line-height: 32px;
  color: #777e90;
}

.about-us__text2 {
  width: 672px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 134px;
}

.about-us__text2 p {
  font-size: 24px;
  line-height: 36px;
  color: #777e90;
}

.about-us-numbers {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-auto-rows: 221px;
  grid-column-gap: 30px;
  grid-row-gap: 32px;
  margin-top: 80px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block__text {
  width: 256px;
  height: 132px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-us-numbers_p {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #23262f;
}

.about-us-numbers span {
  width: 256px;
  border: 1px solid #e1e5ee;
}

.title {
  line-height: 24px;
  color: #23262f;
}

.description {
  font-size: 14px;
  line-height: 24px;
  color: #777e90;
}
@media (max-width: 1440px) {
  .about-us {
    padding: 0 20px;
  }
  .about-us-numbers {
    margin-top: 130px;
    grid-template-columns: repeat(4, 285px);
  }
  .wrapper {
    padding: 0 20px;
  }
  .about-us-numbers {
    margin-top: 130px;
    grid-template-columns: repeat(4, 285px);
  }
}
@media (max-width: 1200px) {
  .weight-700 {
    font-size: 36px;
  }
  .about-us {
    flex-direction: column;
    align-items: center;
  }
  .about-us-numbers {
    grid-template-rows: repeat(2, 221px);
    grid-template-columns: repeat(2, 320px);
    grid-column-gap: 60px;
    grid-row-gap: 32px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .weight-700 {
    font-size: 46px;
  }
}

@media (max-width: 748px) {
  .weight-700 {
    line-height: 48px;
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-us {
    max-width: 1376px;
    display: flex;
    align-items: flex-end;
    margin-top: 80px;
  }

  .about-us__text1 {
    width: auto;
    height: auto;
  }

  .about-us__title {
    text-align: center;
  }

  .about-us__info {
    width: auto;
    height: auto;
    text-align: center;
  }

  .font-24 {
    font-size: 24px;
    line-height: 32px;
    color: #777e90;
  }

  .about-us__text2 {
    width: auto;
    height: auto;
    margin-top: 70px;
    text-align: center;
  }

  .about-us-numbers {
    grid-template-rows: repeat(4, 221px);
    grid-template-columns: repeat(1, 260px);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
  }
}
