body {
  position: relative;
}
.container-small {
  max-width: 1130px;
}
.rest-container {
  display: flex;
  justify-content: space-between;
  margin: 80px auto 0;

  max-width: 1660px;
  padding: 0 20px;
  gap: 25px;
}
/*Popup****************************************************************/
.popup-content {
  max-width: 1440px;
  display: none;
}

.popup-page {
  display: none;
}

.inner-btn {
  background-color: transparent;
  border: 1px solid #fff;
  width: 158px;
  cursor: pointer;
}
.inner-btn.active {
  color: #fff;
}

.popup-page {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  transition: 0.5s;
}
.popup-page.open {
  left: 0%;
}

.popup-page .popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 80px;
  overflow: auto;
  row-gap: 36px;
}

body.noscroll {
  overflow: hidden;
}
/***************************************************************/
#limonchello {
  max-width: 816px;
  height: 448px;
}
.slider-wrraper {
  position: relative;
  margin-top: 60px;
  height: 448px;
}
.rest-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: -1;
}
.rest-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.rest-background::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.rest-title .title {
  color: white;
  margin-bottom: 48px;
}

.rest-title {
  max-width: 674px;
}
.rest-num {
  width: 201px;
}

.rest-num:hover,
.rest-menu:hover {
  background-color: #d81010;
  transition: background-color 0.3s ease-out;
}
.inner-btn:hover {
  background-color: #fff;
  color: #000;
}
.inner__block2_text {
  margin-bottom: 48px;
}
.inner__block2_text p {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.rest-menu,
.rest-num {
  background-color: transparent;
  border: 1px solid #d81010;

  width: 214px;
}
.rest-btn {
  border-radius: 4px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inner-btn {
  background-color: transparent;
  border: 1px solid #fff !important;
  width: 158px;
}
.rest-buttons {
  display: flex;
  gap: 24px;
}
/********************************************************************************/
.rest_white-bgc {
  background-color: #fff !important;
}
.rest_white,
.rest_white .navigation a {
  color: #fff;
  background-color: transparent;
  border: none;
}
.navigation li::after {
  background-color: #fff;
}
.border_white {
  border: 1px solid white;
}
.border_white:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-out;
}

/***********************************************************************************/
.limonchello__slide {
  max-width: 252px !important;
  position: relative;
}
.slider-wrraper {
  margin-bottom: 100px;
}
.hide_arrow {
  display: none;
}
.limonchello__swiper-button-next,
.limonchello__swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px;
  border: 1px solid black;
}

.limonchello__swiper-button-next img,
.limonchello__swiper-button-prev img {
  width: 18px;
  height: 18px;
  margin: 10px;
}

.limonchello__swiper-button-prev {
  z-index: 2;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(0, -50%);
}
.limonchello__swiper-button-next {
  z-index: 2;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(0, -50%);
}
.slide__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.inner {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  gap: 100px;
}
.inner__block1_links {
  width: 199px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  line-height: 24px;
  color: #000;
}
.inner__block1 {
  height: 640px;
}
.inner__block1_about-limochello {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  height: 500px;
}

.about-limochello__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: 76px;
}
.about-limochello__item_title {
  color: #232323;
}
.about-limochello__item_text {
  font-size: 14px;
  line-height: 24px;
}
.inner__block2 {
  max-width: 956px;
}
.inner__block2_chef {
  min-height: 200px;
  margin: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chef-img {
  width: 200px;
  height: 200px;
}

.about-chef {
  max-width: 674px;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-chef__lim {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #777e90;
}
.about-chef__name {
  font-size: 24px;
  line-height: 32px;
  color: #141416;
}
.about-chef__text {
  line-height: 24px;
}

.item__titles {
  font-size: 16px;
  line-height: 32px;
}

.map {
  width: 956px;
}

@media (max-width: 1440px) {
  .inner {
    gap: 50px;
  }
  .map {
    width: 850px;
  }
}

@media (max-width: 1200px) {
  .rest-container {
    flex-direction: column;
    align-items: center;
  }
  .inner {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .inner__block1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    height: auto;
  }
  .inner__block2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .rest-title .title {
    margin: 0 0 48px 0;
  }
  .rest-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map {
    width: 100%;
  }
}

@media (max-width: 748px) {
  .limonchello__swiper-button-prev {
    left: 30px;
  }
  .limonchello__swiper-button-next {
    right: 30px;
  }
  .rest-title .title {
    font-size: 36px;
    line-height: 48px;
  }
  .inner__block1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .inner__block2_text p {
    font-size: 16px;
  }
  .inner__block2_chef {
    flex-direction: column;
    gap: 30px;
  }
  .chef-img {
    margin-right: 20px;
  }

  .rest-buttons {
    flex-direction: column;
    align-items: center;
  }
  .about-chef__lim,
  .about-chef__name,
  .about-chef__text {
    text-align: center;
  }
  .inner__block1_links {
    align-items: center;
    height: 100px;
    width: 100%;
  }

  .about-limochello__item {
    align-items: center;
  }
  .about-limochello__item_text {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .limonchello__swiper-button-prev,
  .limonchello__swiper-button-next {
    width: 30px !important;
    height: 30px !important;
  }
  .inner__block2_chef {
    flex-direction: column;
    margin-top: 0;
  }
  .about-chef p {
    line-height: 20px;
  }
  .inner__block1 {
    gap: 20px;
  }
  .popup-page .popup-content {
    padding-top: 40px;
  }
}
