.staff {
  display: grid;
  grid-template-rows: repeat(4, 376px);
  grid-template-columns: repeat(5, 300px);
  grid-column-gap: 32px;
  grid-row-gap: 40px;
  margin-bottom: 76px;
}
.staff__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.staff__item_container {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
.staff__item_name {
  font-weight: 700;
  line-height: 24px;
  counter-reset: #23262f;
}
.staff__item_text {
  font-size: 14px;
  line-height: 24px;
  color: #777e90;
}
